/*----------------------------------------*/
/*  General
/*----------------------------------------*/


body, p, h1, h2, h3, h4, h5, h6, table{
color: #000000 !important; 
}
body, p, h1, h2, h3, h4, h5, h6{
  
  margin-left: 20px;;/* Sobrescribe el color de texto */
  }
/*Boton Perszonalizado*/
.icono-dorado {
  color: gold !important; /* Color dorado */
}

.icono-dorado:hover {
  color: darkgoldenrod !important;; /* Color dorado más oscuro al pasar el mouse */
}
/* Aumentar la especificidad */
.btn.btn-navy {
  background-color: #003366; /* Azul marino */
  color: white; /* Color del texto blanco */
  border: 1px solid #003366; /* Borde en azul marino */
}

.btn.btn-navy:hover {
  background-color: #002244; /* Azul marino más oscuro para el hover */
  border-color: #002244; /* Borde en azul marino más oscuro */
}

.btn.btn-navy:focus, .btn.btn-navy:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 51, 102, 0.5); /* Sombra de foco en azul marino */
}


.bg-gradient-primary{
  background-color: #365b83 !important;
  background-image: linear-gradient(180deg,#365b83 10%,#1d3a59 100%) !important;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
  background-size: 150px 150px;
  opacity: 1;
}
.top-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: 50% 10% no-repeat rgba(0,0,0,0.5);
  background-size: 150px 150px;
  opacity: 1;
}
.top-loader h3{
  color: white;
  margin-top: 100px;
}
.table-responsive{
  overflow-x: initial !important;
}
.flota_izq{
  float: left !important;
}
.gris, .gris:hover{
  color: #b0b0b0;
  text-decoration: none;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
.btn-custom-buscador{
  color: #6e707e !important;
  background-color: #fff !important;
  border-color: #d1d3e2 !important;
}

.btn-return{
  z-index: 9;
  left: 97%;
  position: fixed;
  top: 72%;
  padding: 10px;
  border-radius: 10px;
  color: white !important;
}

/*----------------------------------------*/
/*  Botones
/*----------------------------------------*/
.btn.btn-primary {
  display: flex; /* Usar flexbox para el contenido dentro del botón */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  width: auto; /* El ancho se ajusta al contenido */
  padding: 0.5rem 1rem; /* Ajusta el padding para asegurar que el botón se vea bien */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto se desborda */
}

/*----------------------------------------*/
/*  Cards
/*----------------------------------------*/
.card-close{
  cursor: pointer;
  float: right;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding-right: 0.4rem !important;
}
/*----------------------------------------*/
/*  Login
/*----------------------------------------*/
.bg-login-image {
  background-color: rgba(0,46,130,255); /* Color de fondo azul marino */
  position: relative; /* Posición relativa para el contenedor */
}

.bg-login-image img {
  position: absolute; /* Posición absoluta para la imagen */
  top: 50%; /* Alinear la parte superior de la imagen al 50% del contenedor */
  left: 50%; /* Alinear la parte izquierda de la imagen al 50% del contenedor */
  transform: translate(-50%, -50%); /* Mover la imagen hacia arriba y hacia la izquierda en un 50% de su propio tamaño */
  max-width: 100%; /* Establecer el ancho máximo de la imagen */
  max-height: 100%; /* Establecer la altura máxima de la imagen */
}
.msj_login{
  opacity: 0;
  font-size: 20px;
}
.contraer{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cerrar_login{
  color: black !important;
}
.container{
  margin-top: 10%;
}
/*----------------------------------------*/
/*  DataTables
/*----------------------------------------*/
.icono_datatable {
  font-size: 20px; /* Tamaño del ícono */
  border-radius: 5px;
  width: 35px; /* Tamaño del contenedor en pantallas grandes */
  height: 35px; /* Tamaño del contenedor en pantallas grandes */
  padding: 5px; /* Ajusta el padding según sea necesario */
  display: inline-flex; /* Asegura que el contenido se centre */
  align-items: center; /* Centra verticalmente el ícono */
  justify-content: center; /* Centra horizontalmente el ícono */
  text-align: center;
}
.icono_datatable i {
  font-size: inherit; /* Hereda el tamaño del contenedor */
}

.icono_datatable:hover {
  opacity: 0.6;
}
.icono_azul_claro{
  color: white;
  background: #45b2f5;
}
.icono_amarillo{
  color: white;
  background: #e8cb4a;
}
.icono_rojo{
  color: white;
  background: #cd5868;
}
.icono_gris{
  color: white;
  background: #989797;
}
.icono_verde{
  color: white;
  background: #3dd84f;
}
.icono_azul_oscuro{
  color: white;
  background: #4287f5;
}



.icono_editar{
  color: white;
  background: #4287f5;
}
.icono_activo{
  color: white;
  background: #3dd84f;
}
.icono_inactivo{
  color: white;
  background: #c12036;
}
.icono_eliminar{
  color: white;
  background: #989797;
}
.icono_acceso{
  color: white;
  background: #45b2f5;
}
.icono_psicometria{
  color: white;
  background: #3c9f98;
}
.icono_medico{
  color: white;
  background: salmon;
}

.icono_resultado_espera {
  color: white;
  background: #ea7209;
}

.icono_doping_aprobado,.icono_resultado_aprobado {
  color: white;
  background: #3dd84f;
}
.icono_doping_reprobado,.icono_resultado_reprobado{
  color: white;
  background: #c12036;
}
.icono_resultado_revision{
  color: white;
  background: #ffc107;
}
.icono_finalizar{
  color: white;
  background: #4e73df;
}
.icono_previo{
  color: black;
  background: #d1d1d1;
}
.accion_activa{
  color: green;
}
.accion_desactiva{
  color: red;
}
.formato_dias{
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.dias_verde{
background: #78f26d;
color: white;
}
.dias_amarillo{
background: #f2d56d;
color: black;
}
.dias_rojo{
background: #eb4034;
color: white;
}
.dropdown-menu.show{
  background-color: whitesmoke;
  font-size: 15px;
}/*
.dataTables_wrapper .dataTables_processing{
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999;
  background: url('../img/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5) !important;
  background-size: 150px 150px !important;
  opacity: 1 !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}*/
.boton_accion{
  width: 25px;
  height: 25px;
  background-color: #4e73df;
  /* margin: 3px; */
  /* padding-bottom: 10px; */
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  /* float: left; */
}
.boton_accion:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
  color: black;
  text-decoration: none;
 /* background-color: #85a3ff;*/
}
.boton_accion a{
  color: #fff;
  text-decoration: none;
  /* padding: 5px 5px 5px 6px;
  padding: 7px; */
  padding-left: 8px;
}
.boton_accion a:hover{
  color: #fff;
  text-decoration: none;
}
.texto_sutil{
  color: darkgrey !important;
}

.centered-content {
  text-align: center;
}

   /* Ajusta el tamaño del campo de búsqueda */
/* Estilo de entrada y botones de paginación */
.dataTables_filter input {
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  padding: 8px; /* Ajusta el padding por defecto */
  font-size: 14px; /* Tamaño de la fuente por defecto */
}

/* Ajusta el tamaño de los botones de paginación */
.dataTables_paginate .paginate_button {
  padding: 5px 10px; /* Tamaño del padding por defecto */
  font-size: 12px; /* Tamaño de la fuente por defecto */
}

/* Ajusta el contenedor de paginación */
.dataTables_paginate {
    text-align: center; /* Centra los botones de paginación */
}

/* Asegura que la tabla no se desborde */
.dataTables_wrapper {
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}
.icon-size i {
  font-size: 1.5rem; /* Ajusta el tamaño según tus necesidades */
}
.btn-sm {
  font-size: 0.75rem; /* Ajusta el tamaño del texto en botones pequeños */
  padding: 0.25rem 0.5rem; /* Ajusta el relleno del botón */
}

/* Estilo general para pantallas pequeñas */
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .icono_datatable {
    width: 30px; /* Tamaño del contenedor en pantallas pequeñas */
    height: 30px; /* Tamaño del contenedor en pantallas pequeñas */
    font-size: 18px; /* Tamaño del ícono en pantallas pequeñas */
  }

  .dataTables_filter input {
    font-size: 12px; /* Reduce el tamaño de la fuente del campo de búsqueda */
    padding: 6px; /* Ajusta el padding para pantallas pequeñas */
  }

  .dataTables_paginate .paginate_button {
    font-size: 10px; /* Reduce aún más el tamaño de la fuente en pantallas pequeñas */
    padding: 4px 8px; /* Ajusta el padding para pantallas pequeñas */
  }

  .dataTables_filter {
    text-align: center; /* Centra el campo de búsqueda en pantallas pequeñas */
  }

  .icon-size i {
    font-size: 1.2rem; /* Ajusta el tamaño para pantallas pequeñas */
  }

  .hide-on-small {
    display: none !important; /* Oculta elementos en pantallas pequeñas */
  }
  .btn.btn-primary {
    width: 100%; /* Abarca todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  }

  .sidebar h2 {
    font-size: 1.05rem; /* Tamaño de fuente por defecto */
    margin: 10px 0; /* Márgenes por defecto */
}

.sidebar-brand img {
    width: 90px; /* Tamaño del logo por defecto */
}

}


@media (min-width: 577px) and (max-width: 768px) {
  .sidebar h2 {
      font-size: 1rem; /* Tamaño de fuente ligeramente más pequeño */
      margin: 8px 0; /* Márgenes ajustados */
  }

  .sidebar-brand img {
      width: 90px; /* Ajusta el tamaño del logo para tabletas */
  }
}
@media (max-width: 576px) {

  .icono_datatable {
    width: 25px; /* Tamaño del contenedor en pantallas muy pequeñas */
    height: 25px; /* Tamaño del contenedor en pantallas muy pequeñas */
    font-size: 16px; /* Tamaño del ícono en pantallas muy pequeñas */
  }

  .dataTables_filter input {
    font-size: 10px; /* Reduce aún más el tamaño de la fuente en pantallas muy pequeñas */
    padding: 4px; /* Ajusta el padding para pantallas muy pequeñas */
  }

  .dataTables_paginate .paginate_button {
    font-size: 8px; /* Reduce el tamaño de la fuente aún más */
    padding: 2px 6px; /* Ajusta el padding para pantallas muy pequeñas */
  }

  .icon-size i {
    font-size: 1rem; /* Ajusta el tamaño para pantallas muy pequeñas */
  }
  .col-sm-12 {
    text-align: center; /* Centra el contenido en el contenedor */
  }
  
  .btn.btn-primary {
    width: 100%; /* Abarca todo el ancho del contenedor en pantallas pequeñas */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    justify-content: center; /* Asegura que el contenido dentro del botón esté centrado */
  }

  /* Opcional: Ajusta el padding del botón en pantallas pequeñas si es necesario */
  .btn.btn-primary {
    padding-left: 0.5rem; /* Ajusta el padding en pantallas muy pequeñas */
    padding-right: 0.5rem; /* Ajusta el padding en pantallas muy pequeñas */
  }

  .sidebar h2 {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
    margin: 5px 0; /* Márgenes reducidos */
}

.sidebar-brand img {
    width: 80px; /* Ajusta el tamaño del logo para pantallas pequeñas */
}

}

/*----------------------------------------*/
/*  Modals
/*----------------------------------------*/
.modal {
  overflow-y:auto !important;
}
.modal-content{
  border: none !important;
}
.modal-header{
  background-color: #365b83;
  color: white;
}
.close{
  color: white !important;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.tabla_centrada{
  margin: 0px auto;
}
#tablaDocs{
  overflow-y: scroll;
  height: 500px;
}
.div_btn_fondo{
  display: flex !important;
}
.chart-area {
  height: auto !important;
}
.btnRegresar{
  position: fixed;
  right: 4rem;
  bottom: 1rem;
  z-index: 9;
}
.escrolable{
  height: 28rem;
  overflow-x: hidden;
  overflow-y: auto;
}
/* @-moz-document url-prefix() {
  /*firefox
  .modal-content {
   overflow: hidden;
  }
  .modal-body{
    margin-right: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.modal-body::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}  */
.barra_espaciadora_off{
  height:3px;background-color:gray;opacity:0.2;
}
.barra_espaciadora_on{
  height:3px;background-color: green;opacity: 0.7;
}
.custom_modal_size{
  max-width: 1200px !important;
}
.custom_modal_close{
  color: gray !important;
  font-size: 2rem !important;
  position: absolute !important;
  top: 0px !important;
  left: 95% !important;
  z-index: 1;
  padding: 15px !important;
}
.custom_modal_header{
  background-color: white !important;
  border-bottom: none !important;
}
.custom_modal_footer{
  border-top: none !important;
  justify-content: space-between !important;
}

/*----------------------------------------*/
/*  ID's Div, span and inputs
/*----------------------------------------*/
#previa_foto{
  word-break: break-all;
}
#edicion_previa_foto{
  word-break: break-all;
}
/*----------------------------------------*/
/*  Estatus
/*----------------------------------------*/
.status_bgc0{
	padding-right: 10px;
	color: #b0b0b0;
}
.status_bgc1{
	padding-right: 10px;
	color: #78f26d;
}
.status_bgc2{
	padding-right: 10px;
	color: #eb4034;
}
.status_bgc3{
	padding-right: 10px;
	color: #f2d56d;
}
.estatus0{
	padding-right: 10px;
	color: #f2d56d;
}
.estatus1{
	padding-right: 10px;
	color: #78f26d;
}
/*----------------------------------------*/
/*  Canva Graficas
/*----------------------------------------*/
#chartCandidatosPorAnalista{
  height: 300px !important;
}
#chartCandidatosFinalizados{
  height: 500px !important;
}
.grafica-circular{
  width: 60%;
}
/*----------------------------------------*/
/*  Reclutamiento
/*----------------------------------------*/
.req_activa{
  background-color: #75d1ff !important;
  color: white !important;
}
.req_positivo{
  background-color: #61eb5f !important;
  color: white !important;
}
.req_preventiva{
  background-color: #deee66 !important;
  color: black !important;
}
.req_negativa{
  background-color: #e14954 !important;
  color: white !important;
}
/*----------------------------------------*/
/*  Doping
/*----------------------------------------*/
/*.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}*/
/*----------------------------------------*/
/* Checkboxes
/*----------------------------------------*/
/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*----------------------------------------*/
/* Floating menu
/*----------------------------------------*/
.floating-menu{
  z-index:9;left:97%;position:fixed;display:inline-block;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)
}
.main-menu{
  margin:0;padding-left:0;list-style:none;overflow-y: auto;height: 300px;
}
.main-menu li a{
  display:block;color:#fff;position:relative;-webkit-transition:none;-o-transition:none;transition:none;padding-left:5px;padding-right: 5px;
}
.menu-bg{
  background-image:-webkit-linear-gradient(top,#1C5E91 0,#167699 100%);background-image:-o-linear-gradient(top,#1C5E91 0,#167699 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#1C5E91),to(#167699));background-image:linear-gradient(to bottom,#1C5E91 0,#167699 100%);background-repeat:repeat-x;position:absolute;width:100%;height:100%;border-radius:50px;z-index:-1;top:0;left:0;-webkit-transition:.1s;-o-transition:.1s;transition:.1s
}
.ripple{
  position:relative;overflow:hidden;transform:translate3d(0,0,0)
}
.ripple:after{
  content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s
}
.ripple:active:after{transform:scale(0,0);opacity:.2;transition:0s}

.floating-button-new{
  background-image: linear-gradient(to bottom,#1C5E91 0,#167699 100%);
  border: none;
  border-radius:100px;
  z-index:999;
  padding-top:13px;
  padding-bottom:10px;
  left:97%;
  position:fixed;
  display:inline-block;
  top:55%;
  width: 60px;
  height: 60px;
  outline: none !important;
}
.floating-button-new:hover{
  background-image: linear-gradient(to bottom,#2886cd 0,#20a5d5 100%);
}
.floating-button-new:active:after{
  border: none;
}
.floating-button-new i{
  font-size: 2em;
  color: white;
}


/*modales  */
.custom_modal_size{
  max-width: 90%;
  width: auto;
  height: 90%;
}

/* Ajustes generales */
.sidebar h2 {
  font-size: 1.5em;
  margin: 0.5em 0; /* Margen alrededor del texto */
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar h2 {
    font-size: 1.2em;
    margin: 0.4em 0;
  }
}

@media (max-width: 480px) {
  .sidebar h2 {
    font-size: 1em;
    margin: 0.3em 0;
  }
}


/*  diseño de botones  de nuesvos  modulos */


/* Estilo para el contenedor de botones */
/* Estilo para el contenedor de botones */
.button-container {
  display: flex;
  flex: 1; /* Hace que el contenedor ocupe el espacio disponible */
  justify-content: space-between; /* Distribuye los botones uniformemente */
  align-items: center; /* Centra los botones verticalmente */
  width: 100%;
 /* Asegura que el contenedor ocupe el ancho completo */
  position: relative; /* Necesario para los pseudo-elementos de separación */
}

/* Estilo para los botones */
.custom-btn {
  background: none; /* Sin color de fondo */
  border: 2px solid #007bff; /* Color del borde */
  color: #007bff; /* Color del texto del botón */
  border-radius: 0; /* Sin bordes redondeados */
 /* padding: 15px; /* Ajusta el espaciado interno */
  text-align: center; /* Centra el texto dentro del botón */
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  font-weight: 900;
  /* Fuente en negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  flex: 1; /* Hace que los botones ocupen el mismo ancho */
  min-width: 0; /* Permite que los botones se reduzcan si es necesario */
  margin: 0; /* Sin margen para los botones */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
  position: relative; /* Necesario para la separación vertical */
}

/* Separación vertical entre los botones */
.custom-btn:not(:last-child)::after {
  content: "";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  width: 0px; /* Grosor de la barra de separación */
  height: 100%;
  background-color: rgba(16, 16, 16, 0.397); /* Color de la barra de separación */
  z-index: 0; /* Asegura que la barra de separación esté detrás del botón */
}

/* Resaltar el botón activo */
.custom-btn.active {
  background-color: rgba(54, 91, 131, 0.968);  /* Color de fondo del botón activo */
  color: white; /* Color del texto del botón activo */
}



/* Estilos  para    el menu principal  */



/* Resaltar el contenedor de botones activo */
.button-container.active {
  background-color: rgba(247, 249, 250, 0.994); /* Fondo iluminado para el contenedor de botones activo */
 /* Borde del contenedor activo */
 color: white; 
 /* Añadir padding para hacer visible el borde */
  border-radius: 5px; /* Bordes redondeados para el contenedor */
}

/* diseño  de    divisores  del menu lateral  */



.custom-menu {
  background-color: #fbfcfe; /* Color de fondo del menú */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  display: flex; /* Usar flexbox para alinear los botones */
  height: 70px; /* Altura del menú */
}

/* Estilos para los botones */
.custom-menu .custom-btn {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600; /* Texto más grueso */
  flex: 1; /* Cada botón ocupa el mismo espacio */
  padding: 0; /* Sin padding para que ocupen todo el alto */
  margin: 0; /* Sin margen entre botones */
  background-color: transparent; /* Fondo transparente por defecto */
  color: #1d1c1c; /* Color del texto (blanco) */
  border: none; /* Sin borde */
  border-radius: 0; /* Sin bordes redondeados para un efecto de franja */
  text-decoration: none; /* Sin subrayado */
  transition: all 0.3s ease; /* Transiciones suaves para todos los cambios */
  font-size: 18px; /* Tamaño de fuente aumentado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  display: flex; /* Usar flexbox dentro del botón para centrar texto */
  align-items: center; /* Centrar verticalmente el texto */
  justify-content: center; /* Centrar horizontalmente el texto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto 3D */
  height: 100%; /* Ocupa todo el alto del menú */
}

/* Efecto hover para los botones específicos */
.custom-menu .custom-btn:hover {
  background-color: rgba(10, 44, 85, 0.58); /* Color de fondo en hover */
  color: #ffffff; /* Color del texto */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
  transform: translateY(-2px); /* Levanta el botón un poco */
}

/* Estilo para el botón activo */
.custom-menu .custom-btn.active {
  background-color: rgba(10, 44, 85, 0.92);; /* Color de fondo del botón activo */
  color: #e7b915; /* Color del texto en dorado claro */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más profunda para el botón activo */
  transform: translateY(-2px); /* Levanta el botón activo */
}

/* Estilos para Select2 que imitan .form-control */
/* Asegura que el contenedor de Select2 tenga la misma altura que .form-control */
/* Asegura que el contenedor de Select2 tenga la misma altura que .form-control más 5px */
.select2-container--default .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px + 5px); /* Altura igual a .form-control más 5px */
  padding: 0.375rem 0.75rem; /* Igualar padding */
  border: 1px solid #d1d3e2; /* Borde igual */
  border-radius: 0.35rem; /* Radio igual */
  display: flex;
  align-items: center; /* Centrar contenido verticalmente */
}

/* Ajustes para el placeholder */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #858796;
  line-height: calc(1.5em + 0.75rem + 5px); /* Alinear verticalmente */
}

/* Color del texto de selección */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: calc(1.5em + 0.75rem + 5px); /* Alinear verticalmente */
  color: #6e707e;
}

/* Flecha de selección */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(1.5em + 0.75rem + 5px); /* Igualar altura */
  margin-top: calc(0.375rem); /* Centrar verticalmente */
}

/* Ajustes para el dropdown */
.select2-container--default .select2-results__option {
  color: #6e707e;
}

/* Estilo en estado de foco */
.select2-container--default .select2-selection--single:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

/* Estado deshabilitado */
.select2-container--default .select2-selection--single.select2-selection--disabled {
  background-color: #eaecf4;
  opacity: 1;
}


/* Estilos    responsivos  para  el menu  principal  */

/* Estilos generales */
.navbar.custom-navbar {
  display: flex;
  flex-wrap: nowrap; /* No permite que los elementos bajen de línea */
  overflow-x: auto; /* Activa el scroll horizontal */
  white-space: nowrap; /* Mantiene los botones en línea */
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 1001; /* Asegura que esté por encima del lateral */
  position: relative; /* Para asegurarse de que el z-index funcione correctamente */
}

/* Quita el estilo de scrollbar para navegadores modernos */
.navbar.custom-navbar::-webkit-scrollbar {
  height: 6px; /* Altura del scrollbar */
}

.navbar.custom-navbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scrollbar */
  border-radius: 4px;
}

.navbar.custom-navbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scrollbar al pasar el mouse */
}

/* Estilo general para los botones */
.navbar .button-container .custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  flex-shrink: 0; /* Evita que los botones se reduzcan */
}

/* Estilos para los iconos */
.navbar .button-container .custom-btn i {
  margin-right: 0.5rem; /* Espaciado entre el ícono y el texto */
  font-size: 1.2rem; /* Tamaño del ícono */
}

/* Media Queries para pantallas pequeñas */
/* Media Query para pantallas pequeñas */
@media (max-width: 900px) {
  .navbar .button-container .custom-btn {
    font-size: 0; /* Oculta el texto */
    padding: 0.5rem; /* Ajusta el padding para íconos */
  }

  .navbar .button-container .custom-btn i {
    font-size: 1.5rem; /* Tamaño más grande para los íconos */
    margin-right: 0; /* Elimina el margen entre íconos y texto */
  }

  .navbar .button-container .custom-btn span {
    display: none; /* Oculta el texto cuando la pantalla es pequeña */
  }
}

/* Ajustes  menu lateral  para  que  sea  responsivo */

/* Estilos del Sidebar */
#accordionSidebar {
  background-color: #343a40;
  top: 0;
  left: 0;
  width: 250px; /* Ancho fijo del sidebar */
  z-index: 999;
  padding-top: 20px;
  transition: all 0.3s ease;
}
/* Asegurarse de que el contenido no se oculte detrás del sidebar */
#content {
  transition: margin-left 0.3s ease; /* Suaviza la animación cuando el sidebar se abre o cierra */
}

/* Ocultar el contenido en pantallas pequeñas */
@media (max-width: 900px) {
  #accordionSidebar {
    display: none; /* Ocultar el sidebar por defecto en pantallas pequeñas */
    position: absolute;
    top: 0;
    left: -250px; /* Ocultar completamente en pantallas pequeñas */
  }

  #accordionSidebar.show {
    display: block; /* Mostrar el sidebar cuando el botón de alternancia se presione */
    left: 0; /* Desplazar el sidebar a la izquierda */
  }

  /* Asegurarse de que el contenido se desplace cuando el sidebar se muestre */
  #content {
    margin-left: 0; /* El contenido vuelve a su posición cuando el sidebar está oculto */
  }

  /* Estilo del botón de alternancia */
  #sidebarToggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
}

/* General Styles for nav-links */
.nav-link { 
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espaciado entre el icono y el texto */
}

/* Icon Styles */
.nav-link i {
  font-size: 1.2rem; /* Tamaño del ícono */
  color: #faf8f8; /* Color del ícono */
}

/* Text Styles */
.nav-link span {
  font-size: 2rem; /* Tamaño del texto */
  color: #ffffff; /* Color del texto */
}

/* Media Query for Small Screens */
@media (max-width: 900px) {
  .nav-link span {
    display: none; /* Oculta el texto */
  }

  .nav-link i {
    font-size: 1.0rem; /* Ajusta el tamaño del ícono */
  }
}


/* Estilos   key supliers*/
.modal-title-modal-key-title-blanco{
  color: white!important;
}
/* Modal general */
.modal-key-content {
  border-radius: 8px;
  overflow: hidden;
}

.modal-key-header {
  background-color: #2c3e50;
  color: white;
  padding: 15px 20px;
}

.modal-key-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-key-close {
  color: white;
  font-size: 1.2rem;
}

/* Introducción del modal */
.modal-key-intro {
  font-size: 1.1rem;
  color: #7f8c8d;
 
  font-style: italic;
}

/* Tarjetas */
.modal-key-col {
  margin-bottom: 20px;
}

.modal-key-card {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.modal-key-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-key-card-header {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #e1e1e1;
  text-transform: uppercase;
}
/* GA Safety */
.modal-key-card-ga {
  background-color: #16a085; /* Verde agua */
  color: white;
  
}
.modal-key-card-croll {
  background-color: #3498db;
  color: white;
}

.modal-key-card-valorh {
  background-color: #2ecc71;
  color: white;
}

.modal-key-card-juridica {
  background-color: #e74c3c;
  color: white;
}


.modal-key-card-fiscalista {
  background-color: #7db9e1;
  color: white;
}

.modal-key-card-clinic {
  background-color: #67ce92;
  color: white;
}

.modal-key-card-cincel {
  background-color: #c86358;
  color: white;
}
.modal-key-card-stteccimm{
  background-color: #1e1756;
  color: white;
}

.modal-key-card-body {
  background-image: url('<?php echo base_url(); ?>img/portal_icon.png');
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Previene la repetición de la imagen */
  height: 150px; /* Ajusta la altura del contenedor según sea necesario */
  display: flex;
  justify-content: center;
  
  color: white; /* Asegura que el texto sea visible */
  text-align: center; /* Centra el texto */
   /* Agrega algo de espacio alrededor del texto */
  position: relative;
}

/* Si necesitas ajustar la visibilidad del texto (por ejemplo, si el fondo es oscuro) */
.modal-key-card-text {
  font-size: 1rem;
  font-weight: bold;
  z-index: 1; /* Asegura que el texto esté encima del fondo */
  color: white; /* Asegura que el texto sea blanco para mejor contraste */
} 
.modal-key-card-body {
  
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

.modal-key-card-footer {
  background-color: #f8f9fa;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #19191a;
}

/* Footer del modal */
.modal-key-footer {
  background-color: #ecf0f1;
  padding: 15px;
  text-align: right;
}

.modal-key-btn-close {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.modal-key-btn-close:hover {
  background-color: #34495e;
}

