body {
  font-family: 'Arial', sans-serif;
  background-color: #2c4156!important; /* Fondo oscuro */
  color: #081c20; /* Texto claro */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background-color: #e2e1e9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.row {
  display: flex;
  align-items: center; /* Alinea los elementos al centro verticalmente */
}

.col {
  margin-right: 10px; /* Agregar espacio entre los campos si es necesario */
}
h2 {
  background-color: #2c4156!important; /* Fondo oscuro */
  text-align: center;
  color: #f7f0f0;
  padding: 15px;
}

.form-group {
  margin-bottom: 0px;
}
.link-margen{
  font-size: 20px;
}

h3{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #f1eded;
  background-color: rgb(36, 50, 138);
}
input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #7f8c8d;
}


button {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #16a085;
}

.already-registered {
 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.already-registered a {
  color: #1abc9c;
  font-weight: bold;
}

.modulos {
  display: flex;
  background-color: rgb(51, 71, 202);
  justify-content: space-between;
  
  text-align: center;
}

.modulo {
  flex: 1;
  padding: 15px;
}

.modulo i {
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.modulo p {
  font-size: 16px;
  color: #ecf0f1;
}

input[type="password"] {
  font-family: 'Courier New', Courier, monospace; /* Estilo para contraseña */
}

/* Estilo para el contenedor de los modales */
.modal-content {
  background-color: #34495e;
  color: #212223;
  border-radius: 10px;
}
/* Ajustar el header del modal */
.modal-header {
  padding: 15px;
  background-color: #2c3e50;
  color: #fff;
  border-bottom: 1px solid #ecf0f1;
  position: relative; /* Esto es para que el botón de cerrar se posicione de forma absoluta */
}

/* Estilo para el botón de cerrar */
.modal-header .close {
  position: absolute; /* Lo ponemos en una posición absoluta dentro del header */
  top: 10px;
  right: 10px; /* Lo coloca en la esquina superior derecha */
  font-size: 1.5rem; /* Asegura que el tamaño sea adecuado */
  color: #ecf0f1; /* Color del botón */
}

/* Cambiar el color del botón de cerrar cuando el cursor está sobre él */
.modal-header .close:hover {
  color: #1abc9c;
}

/* Reducir el tamaño del texto en el header, si es necesario */
.modal-title {
  font-size: 1.25rem;
  margin: 0; /* Eliminar márgenes adicionales */
}

button.close {
  position: end;
  color: #ecf0f1;
  font-size: 1.5rem;
}

button.close:hover {
  color: #1abc9c;
}