node_modules

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/session/*
application/ci_sessions/*

composer.lock
application/config/constants.php 
application/config/config.php
application/config/database.php
application/config/keys/*
application/config/auth_bridge_private.php
.htaccess
cpanel.yml
application/config/email_private.php
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

/_doping/
/_const/
/_adjuntos/*
/_clinico/*
/_docs/*
/_facturasdoping/*
/_avisosPortal/*
/_psicometria/*
/_estudios/*
/_beca/*
/_img/*
/_logosPortal/*
/_portal_files/*
/_logosPortal/*
/_qrconsult/*
/_examEmpleado/*
/_cursos/*
/_documentEmpleado/*
/_perfilEmpleado/*
/_checadasEvidencia/*
/portals/*



/_documentosBolsa/*
/_evaluacionesPortal/*
/_recordatorios/*
/_archivo_calendario/*
/public/*
_checadasEvidencia/1/12/3/2026-05/checada_20260525_112728_rn5j2VjdsG.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_112121_heaOKvWPqq.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_112346_Qdqt6WMmU3.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_112704_NEKfnJnhOF.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_113136_tW9ag8bl9h.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_114205_1r8mPdUvxS.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_114551_5tjzF5v5Ex.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_115226_UWAsUS58Ye.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_115427_L2b4OavpP7.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_120904_2onXyG5aGQ.jpg
_checadasEvidencia/1/12/3/2026-05/checada_20260528_121023_uTCGVGfRLk.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260602_101100_67JF5kQ9F1.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260607_232302_Alnk3mMs0m.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260607_232715_o7Ogihq1Bf.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260607_233108_aqMxoHQI4R.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_000415_ZzPNuHgLzY.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_000522_Mp8nAqovij.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_002513_PbRMjM9I7u.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_004753_nlSteyecO2.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_004839_cF5vY6I8m4.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_114654_lijS9xpwug.jpg
_checadasEvidencia/1/12/3/2026-06/checada_20260608_114835_IHJ1XcafjJ.jpg
_evidenciasTarea/1/12/3/2026-05/evidencia_tarea_20260522_161434_4jzETvbLsU.jpg
_evidenciasTarea/1/12/3/2026-05/evidencia_tarea_20260522_162504_tcw8G6NRnk.jpg
_evidenciasTarea/1/12/3/2026-05/evidencia_tarea_20260522_162516_dt2PayuQ3n.jpg
_evidenciasTarea/1/12/3/2026-05/evidencia_tarea_20260522_162516_RE7f0WRtu1.jpg
_evidenciasTarea/1/12/3/2026-05/evidencia_tarea_20260525_112800_aYYp8r1WLq.jpg
