node_modules

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/session/*
application/ci_sessions/*

composer.lock
application/config/constants.php 
application/config/config.php
application/config/database.php
application/config/keys/*
.htaccess
cpanel.yml
application/config/email_private.php
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/_doping/
/_const/
/_adjuntos/*
/_clinico/*
/_docs/*
/_facturasdoping/*
/_avisosPortal/*
/_psicometria/*
/_estudios/*
/_beca/*
/_img/*
/_logosPortal/*
/_portal_files/*
/_logosPortal/*
/_qrconsult/*
/_examEmpleado/*
/_cursos/*
/_documentEmpleado/*
/_perfilEmpleado/*

/_documentosBolsa/*
/_evaluacionesPortal/*
/_recordatorios/*
/_archivo_calendario/*
/public/*