node_modules

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess
application/views/login/login_view.php
application/views/login/verify_view.php

application/session/*
application/ci_sessions/*

composer.lock
application/config/constants.php 
application/config/config.php
application/config/database.php

.htaccess
cpanel.yml

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
application/config/keys/*
/_doping/
/_adjuntos/
/_clinico/
/_docs/
/_facturasdoping/
/_psicometria/
/_estudios/
/_beca/
/_portal_files/
/_qrconsult/
/_examEmpleado/
/_cursos/
/_documentEmpleado/
/_perfiEmpleado/